{% extends 'sb_index.twig' %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4 heading-container">
    <h1 class="h3 mb-0 text-gray-800">{{ page.title }}</h1>
    <form id="export-all-form" action="{{ site.url }}php/data-extract.php" method="post" role="form">
      <div class="d-sm-inline-block">
        <div class="alerts"></div>
      </div>
      <input type="hidden" name="nonce" value="{{ call_nonce('download-form') }}" />
      <button type="submit" id="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Email all Tables</button>
    </form>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Boerevolk Reddings Aksie</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ boere|e }} <small>Submissions</small></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Nginguye I Am</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nginguye|e }} <small>Submissions</small></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-pen-fancy fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Vrouekrag SA</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ vroue|e }} <small>Submissions</small></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">We the People</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ people|e }} <small>Submissions</small></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}

{% block scripts %}
  <script nonce="{{ call_nonce('export_datatables', true) }}" type="text/javascript" src="{{ site.admin }}js/home-page.min.js"></script>
{% endblock scripts %}

